<div>
    <h1>Enter the new Password:</h1>
    <form action="/change-password/" method="post">
        <h1><%=token%></h1>
        <input type="text" placeholder="Enter New Password" name='newPass'required>
        <input type="hidden" name="token" value="<%=token%>">
        <button type="submit">Change</button>
    </form>
</div>